<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component/post/post.css">
    <title>Document</title>
</head>

<body>
    <div class="home">
        <div class="post-container">
            <div class="post">
                <div class="post-header">
                    <img src="/src/assets/images/icon.png" alt="Profile Picture" class="profile-picture">
                    <h3 class="username">John Doe</h3>
                </div>
                <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu lectus sed
                    nisl
                    malesuada feugiat. Nullam in lacus ut dolor placerat ultricies. Sed vel turpis nisi.</p>
                <img src="/src/assets/images/giphy.gif" alt="Post Image" class="post-image">
                <div class="post-footer">
                    <button class="like-button">Like</button>
                    <button class="comment-button" onclick="goToCommentPage()">Comment</button>
                    <button class="share-button">Share</button>
                </div>
            </div>
            <!-- Add more posts here -->
        </div>
        <div class="loading-container" id="loadingContainer" style="display: none;">
            <div class="loading-icon"></div>
        </div>
    </div>
    <script src="/component/post/post.js"></script>
    <script>
        function goToCommentPage() {
            window.location.href = '/component/comment/comment.html';
        }
    </script>
</body>

</html>