.post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 110px 400px auto 280px;
    font-family: "Poppins";
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    scrollbar-width: thin;
    /* Menyesuaikan lebar scrollbar */
    scrollbar-color: transparent transparent;
}

.post-container::-webkit-scrollbar {
    width: 6px;
}

.post-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.post-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.loading-icon {
    animation: spin 1s infinite linear;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Sesuaikan tinggi maksimum dengan tinggi viewport dikurangi tinggi header */

.post {
    background-color: #d1d1d1;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.post-content {
    margin-bottom: 16px;
}

.post-image {
    width: 40%;
    max-height: 400px;
    margin-bottom: 16px;
    display: flex;
}

.post-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.like-button,
.comment-button,
.share-button {
    background-color: #4267B2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.like-button:hover,
.comment-button:hover,
.share-button:hover {
    background-color: #3b5998;
}