.cari {
    position: absolute;
    color: black;
    background-color: #f1f1f1;
    width: 370px;
    z-index: 1;
    top: 35px;
    left: 975px;
    border-radius: 25px;
    text-decoration: none;
}

.cari p {
    margin-left: 10px;
    font-family: "Poppins";
}

.trending {
    position: absolute;
    color: black;
    top: 95px;
    left: 975px;
    background-color: #f5f5f5;
    width: 370px;
    border-radius: 25px;
}

.trending h2 {
    text-align: center;
    font-family: "Poppins";
}

.trending p {
    font-family: "Poppins";
    margin-left: 10px;
    color: hsl(0, 0%, 0%);
    line-height: 30px;
}