<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component/cari/cari.css">
    <title>Document</title>
</head>

<body>
    <!-- pencarian -->
    <!-- <div class="cari">
            <input type="text" value="Search">
        </div> -->
    <div class="trending">
        <h2>Trending</h2>
        <p>Jokowi Joget</p>
        <p>Jokowi Joget</p>
        <p>Jokowi Joget</p>
        <p>Jokowi Joget</p>
        <p>Cara Ubah Dosa Jadi Saldo Dana</p>
        <p>Cara Ubah Dosa Jadi Saldo Dana</p>
        <p>Cara Ubah Dosa Jadi Saldo Dana</p>
        <p>Cara Ubah Dosa Jadi Saldo Dana</p>
        <p>Cara Ubah Dosa Jadi Saldo Dana</p>
    </div>
    <!-- akhir pencarian -->
</body>

</html>