body {
    z-index: 3;
    background-color: fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25);
    grid-column: auto;
}

.logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.logo img {
    height: 60px;
    width: 95px;
}

.sidebar {
    position: absolute;
    width: 75px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    margin-top: 120px;
    margin-left: 60px;
    margin-bottom: 377px;
    margin-right: 741px;
    line-height: 50px;

    color: #000000;
}

.sidebar button {
    width: 140px;
    height: 40px;
    background: #003140;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.contentsec {
    z-index: 1;
    overflow-y: scroll;
    background: #e0e0e0;
    position: absolute;
    width: 650px;
    height: 650px;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 180px;
    padding-left: 40px;
    border-radius: 5px;
}

.contentsec .content {
    z-index: 2;
    position: absolute;
    background: rgba(255, 255, 255, 0.918);
    border-radius: 5px;
    width: 600px;
    height: 350px;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 243px;
    margin-left: -1px;
}

.bgContent {
    position: absolute;
}

.bgContent img {
    position: absolute;
    width: 43px;
    height: 44px;
    border-radius: 31px;
    margin-top: 11px;
    margin-left: 12px;

}

.content .name p {
    width: 250px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */
    margin: 10px 2px 185px 68px;
    color: #000000;
}

.content .conbag {
    z-index: 5;
    position: absolute;
    width: 510px;
    height: 75px;

    background: #f5f5f5c4;
    border-radius: 7px;
    margin: -185px -400px 56px 68px;
}

.content .caption .fcaption {
    position: absolute;
    width: 200px;
    height: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
    /* identical to box height */
    margin: -2px auto auto 10px;


    color: #000000;
}

.content .caption .hastag {
    position: absolute;
    display: flex;
    width: 300px;
    height: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height */
    margin: 35px auto auto 10px;


    color: #1f66ff;
}

.content .gambar .gmbr1 img {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 177px;
    border: 1px solid #767272;
    margin: -100px 200px 10px 70px;
}

.content .gambar .gmbr2 img {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 177px;
    border: 1px solid #767272;
    margin: -100px 200px 10px 328px;
}

.content .foot .like img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 90px auto auto 140px;
}

.content .foot .dislike img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 90px auto auto 250px;
}

.content .foot .download img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 90px auto auto 350px;
}

.content .foot .share img {
    position: absolute;
    width: 30px;
    height: 25px;
    margin: 90px auto auto 450px;
}

#konten2 {
    margin-top: 390px;
}

#konten3 {
    margin-top: 750px;
}

.posting {

    position: absolute;
    background-color: #eeeeeec5;
    width: 675px;
    height: 120px;
    margin: 11px auto auto 250px;
    border-radius: 10px;
}

.posting input {
    z-index: 1;
    position: absolute;
    text-decoration: none;
    margin: 30px auto auto 10px;
    width: 500px;
    height: 50px;
    color: #b6b6b6;
    border-radius: 10px;
    font-family: "Poppins";
}

.postingbtn input {
    z-index: 1;
    position: absolute;
    text-decoration: none;
    margin: 45px auto auto 780px;
    width: 59px;
    height: 50px;
    color: #b6b6b6;
    border-radius: 10px;
    font-family: "Poppins";
}

.cari {
    position: absolute;
    color: black;
    background-color: #f1f1f1;
    margin: 11px auto auto 950px;
    width: 370px;
    border-radius: 25px;
}

.cari p {
    margin-left: 10px;
    font-family: "Poppins";
}

.trending {
    position: absolute;
    color: black;
    background-color: #f5f5f5;
    margin: 70px auto auto 950px;
    width: 370px;
    border-radius: 25px;
}

.trending h2 {
    text-align: center;
    font-family: "Poppins";
}

.trending p {
    font-family: "Poppins";
    margin-left: 10px;
    color: hsl(0, 0%, 0%);
    line-height: 30px;
}