.sidebar {
    position: absolute;
    width: 75px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 377px;
    margin-right: 741px;
    line-height: 50px;

    color: #000000;
}

.sidebar button {
    width: 140px;
    height: 40px;
    background: #003140;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.sidebar button:hover {
    background: #005670;
}

.sidebar button:active {
    background: #005670;
}