body {
    font-family: "Poppoins";
    color: black;
}

.sidebar {
    position: fixed;
    padding-top: -1000px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 60px;
    /* identical to box height */
}

.sidebar .bgsidebar {
    /* background-color: #000000; */
    margin-top: 100px;
    padding-left: 50px;
    margin-right: -300px;

}

.sidebar .bgsidebar a {
    text-decoration: none;
    color: #000;
}

ul li {
    text-decoration: none;
    color: #000;
    display: flex;
}

ul li a p:hover {
    color: #645e5e;
}

.sidebar .bgsidebar button {
    width: 160px;
    height: 40px;
    border-radius: 6px;
    text-decoration: none;
    border: 0;
    margin-top: 100px;
    background-color: #003140;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.sidebar .bgsidebar button:hover {
    background-color: #355169;
}

.sidebar .bgsidebar button:active {
    background-color: #363b3f;
}

.sidebar .bgsidebar button a {
    color: #fff;
}

/* Content Menu */
.content {
    width: 80%;
    height: 500px;
    font-family: 'Poppins';
    font-style: normal;
}

.content .re-content {
    position: fixed;
    background-color: #fff;
    margin-top: 70px;
    margin-left: 380px;
    padding-right: 400px;
    padding-bottom: 460px;
    color: #000;
}

.content .re-content h1 {
    margin-left: 100px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
}

#judul {
    margin-top: -60px;
    margin-left: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
}

hr {
    margin-left: 50px;
    width: 800px;
}

.content .re-content .post {
    margin-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
}

#hapus {
    position: fixed;
    margin-left: 565px;
    border: 0;
    border-radius: 3px;
    background-color: #eb1616;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
}

#edit {
    position: fixed;
    margin-left: 660px;
    margin-top: 0px;
    border: 0;
    border-radius: 3px;
    background-color: #16eb44;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
}

#edit:hover {
    background-color: #8eec85;
}

#edit:active {
    background-color: #afebac;
}

#hapus:hover {
    background-color: #f05151;
}

#hapus:active {
    background-color: #eb9898;
}