#SidebarComponent {
    position: fixed;
    top: 90px;
    left: 0;
}

#headerContainer {
    position: fixed;
    top: 0;
    right: 0;
}

#cari {
    position: fixed;
    top: 50px;
    /* Sesuaikan dengan tinggi header */
    left: 0;
}

#content {
    margin-top: 100px;
    /* Sesuaikan dengan tinggi header Anda */
}