<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component/comment/comment.css">
    <title>Comments</title>
</head>

<body>
    <div class="comment-container">
        <h2 class="comment-title">Comments</h2>
        <ul class="comment-list" id="commentList">
            <!-- Daftar komentar akan ditambahkan secara dinamis di sini -->
        </ul>
        <div class="comment-form">
            <textarea class="comment-input" id="commentInput" placeholder="Write a comment..."></textarea>
            <button class="comment-submit" onclick="submitComment()">Submit</button>
        </div>
    </div>

    <script src="/component/comment/comment.js"></script>
</body>

</html>